.paintball {
    height: 25px;
    width: 25px;
    background-color: rgba(25, 155, 47, 0.938);
    border-radius: 50%;
    display: flex;
}

.scoreboard{
    position: fixed;
    top: 1em;
    right: 1em;
}

.target {
    position:fixed;
    height: 100px;
    width: 100px;
    border: solid 2px;
    border-style: firebrick;
    border-radius: 90px 90px 90px 90px;
}
