.paintball {
    background-color: rgba(25, 155, 47, 0.938);
    display: flex;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.sidebar{
    position: fixed;
    right: 1em;
    top: 1em;
}

.target {
    position:fixed;
    height: 100px;
    width: 100px;
    border: solid 2px;
    border-style: firebrick;
    border-radius: 90px 90px 90px 90px;
}

.timer {
    border: solid 2px;
    border-style: black;
    height: 22px;
    position:fixed;
    right: 50%;
    top: 5%;
    width: 35px;
}

